body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.app {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  margin-left: 10px;
}
